{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindCSS": {
    "config": "./tailwind.config.js",
    "removeUnusedClasses": true
  }
}
