@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .textHeader {
    @apply text-color1 hover:text-color2 cursor-pointer;
  }
  .activeHover {
    @apply bg-color2 cursor-pointer rounded p-2;
  }
  .boxKategori {
    @apply flex h-[160px] w-[120px] items-center gap-4 rounded-lg bg-white;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
  }
  .tabsItem {
    @apply text-12 w-28 border-b-2 border-transparent px-4 py-2 font-semibold text-gray-700 focus:outline-none;
  }
  .tabsItemActive {
    @apply border-color1 text-color2;
  }
  .itemMenu {
    @apply outline-color1 flex h-8 w-auto items-center justify-center gap-2 rounded-full p-5;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
  }
  .inputText {
    @apply placeholder:text-12  text-12 h-10 w-[12.5rem] rounded p-2 outline-none;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
  }
  .inputTextSearch {
    @apply h-8  w-full rounded outline-none;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
  }

  .border {
    border: 0.1px solid rgba(0, 0, 0, 0.1);
  }
  .inputText:focus {
    border: 0.1px solid rgba(13, 211, 18, 0.9); /* Warna border yang diinginkan saat input difokuskan */
  }

  .menuFixed {
    @apply fixed -top-1 z-50 flex w-full flex-row items-center justify-between bg-white px-2 py-3;
    animation: slideInFromBottom 0.5s ease-out;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
  }
  .menuDefault {
    @apply flex w-full flex-row items-center justify-between px-2 py-3;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.custom-shadow {
  position: relative;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--NN0, #ffffff);
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 12px;
}
.slick-dots li button:before {
  color: White;
}
.slick-dots li.slick-active button:before {
  color: White !important;
}

.drop-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slick-slide {
  padding: 0 4px;
}

/* .slick-list {
  margin: 0 2em;
} */

.slick-slide div {
  outline: none;
}
